<footer class="new_footer_area bg_color">
  <div class="new_footer_top" style="padding-top: 0px !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-middle-sidebar">
            <hr>
            <h3 class="f-title f_600 t_color f_size_18">Vị trí công ty</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.0093847642406!2d105.89806257477039!3d21.072287386283122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a9f969fd90e3%3A0x192661e9692baea1!2zSHV5IEPGsOG7nW5nIEF1dG8gLSBIw6BuIEvDrW5oIMSQw6FuaCBCw7NuZyBLw61uaCDDlCBUw7QgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1710253217103!5m2!1svi!2s"
              width="auto" height="300" frameborder="0" style="border:0;" allowfullscreen=""
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
               style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
            <hr>
            <h3 class="f-title f_600 t_color f_size_18">Dịch vụ</h3>
            <ul class="list-unstyled f_list">
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/intro']">Giới thiệu</a></li>
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/glassWelding']">Hàn kính</a></li>
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/glassPolishing']">Đánh bóng
                kính</a></li>
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/changeGlasses']">Thay kính</a>
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/stainRemover']">Tẩy ố kính ô
                tô</a>
              </li>
              <li><a style="font-size: 17px" (click)="scrollToTop()" [routerLink]="['/']">Chăm sóc xe</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
               style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
            <hr>
            <h3 class="f-title f_600 t_color f_size_18">Thông Tin Liên Hệ</h3>
            <ul class="list-unstyled f_list">
              <li><span class="material-icons">phone</span>
                <sup><span style="font-size: 17px">&nbsp;0983239808</span></sup>
              </li>
              <li><span class="material-icons">home</span>
                <sup><span
                  style="font-size: 17px">&nbsp;134 P. Thanh Am, Thượng Thanh, Long Biên, Hà Nội, Việt Nam</span></sup>
              </li>
              <li><span class="material-icons">contact_mail</span></li>
              <li>
                <span class="material-icons">facebook</span>
                <sup> <span style="font-size: 17px">
                  <a target="_blank" href="https://www.facebook.com/profile.php?id=100083276682112">&nbsp;Facebook</a>
                </span></sup>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
  </div>
</footer>
