<div class="container fs16" style="margin-top: 10px">
  <h2>
    Quý khách thân mến, khi đi trời mưa quý khách cảm thấy thật sự khó chịu vì kính xe
    của quý khách bị dính nước liên tục và tạo thành những vết chấm ố trên kính,
    điều này vừa làm giảm đi vẻ đẹp của xe và làm xe mất đi sự an toàn,
    vì lẽ này
    <u><span class="a1 a2" style="color: #5e2ced">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100083276682112">Huy Cường Auto</a></span></u>
    đã mang đến một dịch vụ chuyên nghiệp “Dịch vụ tẩy ố kính
    xe ô tô” chuyên dụng nhất,
    với dịch vụ
    này quý khách không còn lo lắng với chiếc kính của mình nữa với quy trình làm việc của Huy Cường Auto như sau:
  </h2>
  <img class="imageFix" src="../../assets/image/tm1.jpg">
  <h2>
    Tác dụng tẩy ố kính ô tô:
  </h2>
  <p>
  <p>1. Tăng độ trong của kính.</p>
  <p>2. Làm đẹp kính, nhất là những kính xe đã bị ố mốc do mưa.</p>
  <p>3. Tăng độ sang và bền bề mặt tráng của kính.</p>
  <h2>
    Quy trình làm việc:
  </h2>
  <p>Bước 1: Quý khách rửa thật sạch xe, nhất là các phần kính cần phủ.</p>
  <p>Bước 2: Đợi xe khô một lát và dùng khăn mềm lau toàn bộ kính.</p>
  <p>Bước 3: Sử dụng dung dịch tẩy ố G60 đây là dung dịch chuyên dụng tẩy ố.</p>
  <p>Bước 4: Sử dụng dung dịch CL 50 Glass cleaner làm tram bề mặt kính.</p>
  <p>Bước 5: Đợi thật khô phần trạm.</p>
  <p>
    Bước 6: Dùng rẻ 3D khô sạch, lau toàn bộ kính.
  </p>
  <p>
    Kính đã được làm xong, và phủ nano một nửa
  </p>
  <p><strong>Thời gian làm việc: 1,5 tiếng</strong></p>
  <p>
    Bị Ố kính xe ô tô vừa làm mất đi độ trong của kính,
    nhất là kính lái, điều này thật sự nguy hiểm khi đi đường, hơn nữa
    ố kính làm giảm đi vẻ đẹp của kính xe, vì vậy quy trình xử lý ố rất quan trọng.
  </p>
  <h2 style="color: #5e2ced">
    Ngoài dịch vụ trên, Minh Phát Hà Nội chúng tôi còn cung cấp những dịch &nbsp;vụ chăm sóc nội - ngoại thất ô tô
  </h2>
</div>
