<p>
  Quý khách thân mến, khi đi trời mưa quý khách cảm thấy thật sự khó chịu vì kính xe của quý khách bị dính nước liên tục
  và tạo thành những vết chấm ố trên kính, điều này vừa làm giảm đi vẻ đẹp của xe và làm xe mất đi sự an toàn, vì lẽ này
  Phương Đông Auto đã mang đến một dịch vụ chuyên nghiệp “Dịch vụ tẩy ố kính xe ô tô” chuyên dụng nhất, với dịch vụ
  này quý khách không còn lo lắng với chiếc kính của mình nữa với quy trình làm việc của Phương Đông Auto như sau:
</p>
<p>
  <strong>Tác dụng tẩy ố kính ô tô:&nbsp;</strong>Kính bị ố do nước mưa, nước rửa xe
</p>
<p>
<p>1.Tăng độ trong của kính;</p>
<p>2.Làm đẹp kính, nhất là những kính xe đã bị ố mốc do mưa;</p>
<p>3.Tăng độ sang và bền bề mặt tráng của kính;</p>

<h2>
  <strong>Quy trình làm việc</strong>
</h2>
<p>Bước 1: quý khách rửa thật sạch xe, nhất là các phần kính cần phủ;</p>
<p>Bước 2: đợi xe khô một lát và dùng khăn mềm lau toàn bộ kính;</p>
<p>Bước 3: sử dụng dung dịch tẩy ố G60 đây là dung dịch chuyên dụng tẩy ố</p>
<p>Bước 4: sử dụng dung dịch CL 50 Glass cleaner làm tram bề mặt kính;</p>
<p>Bước 5: đợi thật khô phần tram;</p>
<p>
  Bước 6: dùng rẻ 3D khô sạch, lau toàn bộ kính;
</p>
<p>
  Kính đã được làm xong, và phủ nano một nửa
</p>
<p>Thời gian làm việc: 1,5 tiếng</p>

<p>
  Ố kính xe ô tô vừa làm mất đi độ trong của kính, nhất là kính lái, điều này thật sự nguy hiểm khi đi đường, hơn nữa ố
  kính làm giảm đi vẻ đẹp của kính xe, vì vậy quy trình xử lý ố rất quan trọng.
</p>
<p>
  Ngoài dịch vụ trên, Minh Phát Hà Nội chúng tôi còn cung cấp những dịch &nbsp;vụ chăm sóc nội - ngoại thất ô tô
</p>
