<div class="container">
  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk2.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk3.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk4.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk5.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk6.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk7.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk8.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
