<div class="container">
  <h2 class="titleText">
    Đánh bóng kính ô tô là giải pháp được chọn để xử lý kính của xe ô tô bị xước. Tuy nhiên vẫn còn nhiều người chủ quan
    không chăm sóc xe theo đúng lời khuyên của các chuyên gia bảo dưỡng, dẫn đến tình trạng “tiền mất tất mang” với mức
    chi phí thay kính ô tô zin khá “chát”.
  </h2>
  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk2.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk3.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk4.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk5.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk6.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk7.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/dbk8.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh đánh bóng kính</h3>
            <p class="shadowText">Đang được đánh bóng.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
