<div class="container">
  <h2 class="titleText">Tại sao nên hàn kính ô tô?</h2>
  <p style="font-size: 16px">Kính xe ô tô là một trong những phần rất quan trọng giúp đảm bảo an toàn cho lái xe. Tuy
    nhiên phần lớn người sử
    dụng thường không chú trọng kiểm tra bộ phận này thường xuyên, dẫn đến trường hợp phải thay toàn bộ kính chắn gió
    mới vì không thể hàn kính ô tô, gây tốn kém và quan trọng hơn là phá vỡ kết cấu nguyên chiếc của xe.</p>
  <li style="font-size: 16px">
    Thứ nhất, một số trường hợp bảo hiểm không chi trả phí thay kính ô tô. Chủ xe lúc này sẽ phải bỏ
    tiền túi ra để thay kính mới. Việc này sẽ tốn kém rất nhiều chi phí hơn rất nhiều so với việc kiểm tra và chăm sóc
    xe thường xuyên, nhanh chóng phát hiện và hàn kính ô tô kịp thời khi vừa xuất hiện vết nứt.
  </li>
  <li style="font-size: 16px; margin-top: 10px; margin-bottom: 10px">
    Thứ hai, thay kính ô tô đồng nghĩa với việc kính zin theo xe bị thay thế; mà chúng ta đều biết rằng chất lượng các
    bộ phận đi cùng xe ban đầu luôn có chất lượng tốt nhất. Việc thay kính mới sẽ ảnh hưởng rất nhiều đến kết cấu xe
    và khiến chất lượng xe không được như ban đầu.
  </li>

  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk1.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Tiết kiệm thời gian: Vá kính xe ô tô chỉ mất khoảng
              15 – 20 phút,
              rất nhanh gọn; đặc biệt là khi hàn tại những cơ sở có nhiều năm kinh nghiệm như Huy Cường Auto</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk2.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk3.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk4.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk5.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được hàn</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk6.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk7.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk8.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk9.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Đã hàn xong</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk10.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Đã hàn xong</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk11.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk12.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Sau khi hàn kính</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk13.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Vết nứt của kính</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
