<div class="container">
  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk1.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Tiết kiệm thời gian: Vá kính xe ô tô chỉ mất khoảng
              15 – 20 phút,
              rất nhanh gọn; đặc biệt là khi hàn tại những cơ sở có nhiều năm kinh nghiệm như Huy Cường Auto</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk2.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk3.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk4.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk5.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk6.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk7.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk8.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk9.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk10.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk11.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk12.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageFix" src="../../assets/image/hk13.jpg">
          </div>
          <div class="carousel-caption">
            <h3 class="shadowText">Ảnh hàn kính</h3>
            <p class="shadowText">Kính đang được thay thế</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
