/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.a1 {
  cursor: pointer;
}

.a2:hover {
  color: #ffc107;
}

.mat-tooltip {
  font-size: 16px !important;
}

.shadowText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imageFix {
  width: 100%;
  height: auto
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.titleText {
  margin-top: 10px !important;
}

.fs16 {
  font-size: 16px
}
