<div>
  <mat-toolbar color="primary">
    <span class="a1 a2" matTooltip="Xem dịch vụ" [matMenuTriggerFor]="menu">Huy Cường Auto</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="a1 a2" matTooltip="Xem dịch vụ" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button (click)="glassWeldingType()" mat-menu-item>Hàn Kính</button>
        <button (click)="glassPolishingType()" mat-menu-item>Đánh bóng kính</button>
        <button (click)="changeGlassesType()" mat-menu-item>Thay kính</button>
      </mat-menu>
    </button>
    <div class="col-6">Liên hệ: 0983239808</div>
  </mat-toolbar>
</div>

<div class="row" style="background-color: whitesmoke">
  <div class="col-12" *ngIf="glassPolishing && !changeGlasses && !glassWelding">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk1.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Hình ảnh trước và sau khi đánh bóng kính</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk2.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk3.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk4.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk5.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk6.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk7.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk8.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh đánh bóng kính</h3>
          <p>Đang được đánh bóng.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-12" *ngIf="!glassPolishing && changeGlasses && !glassWelding">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/tk1.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Ảnh thay kính</h3>
          <p>Kính đang được thay thế</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
