<div>
  <mat-toolbar color="primary">
    <span class="a1 a2" matTooltip="Xem dịch vụ" [matMenuTriggerFor]="menu">Huy Cường Auto</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="a1 a2" matTooltip="Xem dịch vụ" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button style="font-size: 17px" (click)="glassWeldingType()" mat-menu-item>Hàn Kính</button>
        <button style="font-size: 17px" (click)="glassPolishingType()" mat-menu-item>Đánh bóng kính</button>
        <button style="font-size: 17px" (click)="changeGlassesType()" mat-menu-item>Thay kính</button>
      </mat-menu>
    </button>
    <div class="col-6">Liên hệ: 0983239808</div>
  </mat-toolbar>
</div>

<div class="row" style="background-color: whitesmoke">
  <div class="col-12" *ngIf="glassPolishing && !changeGlasses && !glassWelding">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk2.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk3.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk4.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk5.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk6.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk7.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/dbk8.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh đánh bóng kính</h3>
          <p class="shadowText">Đang được đánh bóng.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-12" *ngIf="!glassPolishing && changeGlasses && !glassWelding">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/tk1.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh thay kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-12" *ngIf="!glassPolishing && !changeGlasses && glassWelding">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk1.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Tiết kiệm thời gian: Vá kính xe ô tô chỉ mất khoảng
            15 – 20 phút,
            rất nhanh gọn; đặc biệt là khi hàn tại những cơ sở có nhiều năm kinh nghiệm như Huy Cường Auto</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk5.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk9.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk2.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk3.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk4.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk6.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk7.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk8.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk10.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk11.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk12.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imageFix" src="../../assets/image/hk13.jpg">
        </div>
        <div class="carousel-caption">
          <h3 class="shadowText">Ảnh hàn kính</h3>
          <p class="shadowText">Kính đang được thay thế</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
